<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Reporting.RdlDesign.Toolbars" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Reporting.RdlDesign.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Reporting.RdlDesign.Toolbars>

          <setting name="FontPos" serializeAs="String">
            <value>0, 0</value>
          </setting>
          <setting name="FormPos" serializeAs="String">
            <value>0, 0</value>
          </setting>
          <setting name="FormSize" serializeAs="String">
            <value>714, 457</value>
          </setting>
          <setting name="InsertPos" serializeAs="String">
            <value>0, 0</value>
          </setting>
          <setting name="ShowFont" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="ShowInsert" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="ShowStandard" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="ShowZoom" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="StandardPos" serializeAs="String">
            <value>0, 0</value>
          </setting>
          <setting name="ZoomPos" serializeAs="String">
            <value>0, 0</value>
          </setting>
        </Reporting.RdlDesign.Toolbars>
        <Reporting.RdlDesign.Settings>
            <setting name="AutoHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropertiesAutoHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropertiesLocation" serializeAs="String">
                <value>Right</value>
            </setting>
          <setting name="RecentFiles" serializeAs="String">
            <value>
            </value>
          </setting>
          <setting name="RecentFilesMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowEditLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPreviewWaitDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReportItemOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTabbedInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpURL" serializeAs="String">
                <value>http://www.unierm.de/dokumentation/konfiguration/reports-erstellen.html</value>
            </setting>
        </Reporting.RdlDesign.Settings>
    </userSettings>
</configuration>
